@charset "UTF-8";

/* 노멀라이즈 */
body, ul, li, h1, h2, h3 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: rgb(75, 75, 75);
	text-decoration: none;
}



/* 라이브러리 */
.con {
	margin-left: auto;
	margin-right: auto;
}

.block {
	display: block;
}

.img-box > img {
	display: block;
	width: 100%;
}

.flex {
	display: flex;
}

.flex-jc-c {
	justify-content: center;
}

.flex-ai-c {
	align-items: center;
}

.flex-jc-sb {
	justify-content: space-between;
}

.flex-jc-e {
	justify-content: flex-end;
}

.flex-1-0-0 {
	flex: 1 0 0;
}

.flex-grow-1 {
	flex-grow: 1;
}

.height-100p {
	height: 100%;
}

.bg-red {
	background-color: red;
}

.bd-red {
	border: 3px solid red;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-50 {
	margin-top: 50px;
}



/* 커스텀 */
html {
	font-family: 'Roboto', 'Noto Sans KR', sans-serif; /* 1순위 Roboto, 2순위 Noto Sans */
}

.con-min-width {
	min-width: 1200px;
}

.con {
	width: 1200px;
}



/* 폼 박스 타입 1 시작 */
/* 회원가입, 로그인 */
.form-box-type-1 {
	width: 500px;
	margin: 0 auto;
}
.form-box-type-1 > div {
	display: flex;
	margin-top: 10px;
}

.form-box-type-1 > div > div {
	margin-top: 5px;
	margin-left: 5px;
}

.form-box-type-1 > div > div:first-child {
	display: flex;
	min-width: 120px;
	align-items: center;
}

.form-box-type-1 > div > div:first-child > span {
	font-weight: bold;
}

.form-box-type-1 > div > div:last-child {
	flex: 1 0 0;
}

.form-box-type-1 > div > div:last-child > input[type="text"],
.form-box-type-1 > div > div:last-child > input[type="email"],
.form-box-type-1 > div > div:last-child > input[type="password"] {
	display: block;
	width: 320px;
	height: 30px;
	padding: 10px;
	box-sizing: border-box;
}

.form-box-type-1 > div > div:last-child > input[type="submit"] {
	width: 60px;
	height: 30px;
	margin: 20px auto;
	background-color: rgb(255, 255, 255);
	font-weight: bold;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
}
/* 폼 박스 타입 1 끝 */



/* 회원 가입 페이지 시작 */
.logo-join {
	width: 150px;
	margin: 0 auto;
}

.join-button {
	
}
/* 회원 가입 페이지 끝 */



/* 로그인 페이지 시작 */
.logo-login {
	width: 150px;
	margin: 0 auto;
}

.login-button {
	
}

.sub-menu_login {
	width: 250px;
	height: 50px;
	margin: 0 auto;
}

.sub-menu_login > div {
	width: 50%;
	height: 100%;
	float: left;
}

.sub-menu_login > div > a {
	
}

.sub-menu_login > div > a > p {
	color: rgb(100, 100, 100);
	text-align: center;
	vertical-align: center;
}
/* 로그인 페이지 끝 */



/* 로고바 시작 */
.logo-bar {
	background-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
}

.logo-bar__logo {
	width: 150px;
}

.logo-blank {
	width: 100%;
	height: 91.5px;
}
/* 로고바 끝 */



/* 탑바 시작 */
.top-bar {
	height: 50px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	margin: 0 auto;
}

.top-bar__menu-box > ul > li > a {
	padding: 0 10px;
	min-width: 80px;
	font-weight: bold;
}

.top-bar__menu-box > ul > li:hover > a {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
/* 탑바 끝 */



/* 타이틀 바 시작 */
/*
.title-bar {
	margin-top: 30px;
	margin-bottom: 30px;
}
*/
/* 타이틀 바 끝 */



/* 서브 메뉴 바 시작 */
.sub-menu-bar {
	font-weight: bold;
	font-size: 14px;
	margin-top: 20px;
}

.sub-menu-bar > div > a {
	margin: 0 10px;
}
/* 서브 메뉴 바 끝 */



/* 폼 박스 타입 2 시작 */
/* 로그인 아이디 찾기, 로그인 패스워드 찾기, 패스워드 체크, 회원정보 수정 */
/* 검색창 */
/* 게시물 목록, 작성, 수정 */
/* 댓글 수정 */
.form-box-type-2 > div {
	display: flex;
	margin-top: 10px;
}

.form-box-type-2 > div > div:first-child {
	display: flex;
	min-width: 120px;
	align-items: center;
}

.form-box-type-2 > div > div:first-child > span {
	font-weight: bold;
}

.form-box-type-2 > div > div:last-child {
	flex: 1 0 0;
}

.form-box-type-2 > div > div:last-child > input[type="text"],
.form-box-type-2 > div > div:last-child > input[type="email"],
.form-box-type-2 > div > div:last-child > input[type="password"] {
	display: block;
	width: 320px;
	height: 30px;
	padding: 10px;
	box-sizing: border-box;
}

.form-box-type-2 > div > div:last-child > input[type="submit"] {
	width: 100px;
	height: 30px;
	margin: 10px auto;
	background-color: rgb(255, 255, 255);
	font-weight: bold;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
}

.form-box-type-2 > div > div:last-child > textarea {
	display: block;
	width: 100%;
	min-height: 300px;
	padding: 10px;
	box-sizing: border-box;
}
/* 폼 박스 타입 2 끝 */



/* 검색창 시작 */
articles-info-bar__total-count {
	position: absolute;
}

.searchKeyword-box > div {
	height: 25px;
}

.searchKeyword-box > .searchKeyword-input > input[type="text"] {
	display: block;
	width: 200px;
	height: 100%;
	box-sizing: border-box;
}

.searchKeyword-box > .searchKeyword-submit {
	margin-left: 10px;
}

.searchKeyword-box > .searchKeyword-submit > input[type="submit"] {
	width: 50px;
	height: 100%;
	background-color: rgb(255, 255, 255);
	font-weight: bold;
	border: 2px solid rgb(0, 0, 0);
	border-radius: 5px;
	box-sizing: border-box;
}
/* 검색창 끝 */



/* 게시물 목록 시작 */
.article-list-box__head > .article-list-box__row {
	height: 30px;
	line-height: 20px;
	text-align: center;
	border-bottom: 2px solid rgb(0, 0, 0);
	box-sizing: border-box;
}

.article-list-box__head > .article-list-box__row > div > span {
	font-weight: bold;
}

.article-list-box__body > .article-list-box__row {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid rgb(100, 100, 100);
	box-sizing: border-box;
}

.article-list-box__body > .article-list-box__row > div {
	text-align: center;
}

.article-list-box__body > .article-list-box__row > div:nth-child(1) > a {
	font-weight: bold;
}

.article-list-box__body > .article-list-box__row > div:nth-child(5) {
	text-align: left;
}

.article-list-box__row {
	display: flex;
}

.article-list-box__row > :nth-child(1) {
	width: 50px;
}

.article-list-box__row > :nth-child(2),
.article-list-box__row > :nth-child(3) {
	width: 180px;
}

.article-list-box__row > :nth-child(4) {
	width: 150px;
}

.article-list-box__row > :nth-child(5) {
	flex: 1 0 0;
}

.article-list-box__row > :nth-child(5) > a {
	display: block;
}

.article-list-box__row > :nth-child(6) {
	width: 180px;
}

/* 게시물 목록 끝 */



/* 게시물 페이지 메뉴 시작 */
.article-page-box {
	text-align: center;
}

.article-page-box__page-btn--selected {
	font-weight: bold;
	color: red;
}
/* 게시물 페이지 메뉴 끝 */


/* 게시물 작성 시작 */
.write-box .form-box-type-2 > div > div:first-child {
	display: flex;
	min-width: 80px;
	line-height: 30px;
	align-items: center;
}
/* 게시물 작성 끝 */



/* 폼 박스 타입 3 시작 */
/* 게시물 상세 정보 */
.form-box-type-3 > div {
	display: flex;
	margin-top: 10px;
}

.form-box-type-3 > div > div:nth-child(1) {
	display: flex;
	align-items: center;
	width: 1000px;
}

.form-box-type-3 > div > div:nth-child(1) > textarea {
	display: block;
	width: 100%;
	height: 150px;
	padding: 10px;
	box-sizing: border-box;
}

.form-box-type-3 > div > div:nth-child(2) {
	flex: 1 0 0;
	width: 180px;
	height: 150px;
	margin-left: 20px;
}

.form-box-type-3 > div > div:nth-child(2) > input[type="submit"] {
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	font-weight: bold;
	border: 2px solid rgb(0, 0, 0);
	border-radius: 5px;
}
/* 폼 박스 타입 3 끝 */



/* 게시물 상세 정보 시작 */
.article-detail-box > div > div {
	display: flex;
	margin-top: 10px;
}

.article-detail-box > div > div > div:nth-child(1) {
	width: 150px;
}

.article-detail-box > div > div > div:nth-child(1) > span {
	font-weight: bold;
}

.article-detail-box > div > .article-area {
	width: 1200px;
	min-height: 500px;
	margin-top: 50px;
}
/* 게시물 상세 정보 끝 */



/* 댓글 작성 시작 */

/* 댓글 작성 끝 */



/* 게시물 댓글 목록 시작 */
.article-reply-list-box__head > .article-reply-list-box__row {
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: 2px solid rgb(0, 0, 0);
	box-sizing: border-box;
}


.article-reply-list-box__head .article-reply-list-box__row > div > span {
	font-weight: bold;
}

.article-reply-list-box__body > .article-reply-list-box__row {
	min-height: 30px;
	border-bottom: 1px solid rgb(100, 100, 100);
	box-sizing: border-box;
	padding: 15px 0;
}

.article-reply-list-box__body > .article-reply-list-box__row > div {
	text-align: center;
}

.article-reply-list-box__body > .article-reply-list-box__row > div:nth-child(1) > span {
	font-weight: bold;
}

.article-reply-list-box__body > .article-reply-list-box__row > div:nth-child(5) {
	text-align: left;
}

.article-reply-list-box__row {
	display: flex;
}

.article-reply-list-box__row > :nth-child(1) {
	width: 50px;
}

.article-reply-list-box__row > :nth-child(2), 
.article-reply-list-box__row > :nth-child(3) {
	width: 180px;
}

.article-reply-list-box__row > :nth-child(4) {
	width: 150px;
}

.article-reply-list-box__row > :nth-child(5) {
	flex: 1 0 0;
}

.article-reply-list-box__row > :nth-child(6) {
	width: 80px;
}
/* 게시물 댓글 목록 끝 */ 



/* 푸터 바 시작 */
.footer-bar {
    position: relative;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    height: 60px;
    margin-top: 50px;
}

.footer-bar > .footer-inner {
    position: relative;
    height: 40px;
}

.footer-bar > .footer-inner > .copyright-area {
    position: absolute;
    top: 0;
    left: 20px;
}

.footer-bar > .footer-inner > .copyright-area > .txt_copyright {
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    font-weight: bold;
    font-size: 13px;
    color: rgb(0, 0, 0);
}

.footer-bar > .footer-inner > .copyright-area > .txt_copyright > .link_Blog {
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    font-weight: bold;
    font-size: 13px;
    color: rgb(0, 0, 0);
    margin-left: 20px;
}

.footer-bar > .footer-inner > .familysite-area {
    position: absolute;
    top: 0;
    right: 20px;
}

.footer-bar > .footer-inner > .familysite-area > .box_site {
    float: right;   
}

.footer-bar > .footer-inner > .familysite-area > .box_site > .link_site {
    line-height: 40px;
    font-weight: bold;
    font-size: 12px;
    color: rgb(0, 0, 0);
    float: left;
    transition: color .25s;
}

.footer-bar > .footer-inner > .familysite-area > .box_site > .link_site:hover {
    color: #999;
}

.footer-bar > .footer-inner > .familysite-area > .box_site > .txt_bar {
    line-height: 40px;
    font-size: 12px;
    color: #33343B;
    float: left;
    margin: 0 15px;
}

/* 푸터 바 끝 */